<html>
<head>
    <meta name = "viewport" content="width=device-width,initial-scale=1.0">
    <title>Data Project 4</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
    <div class="container">
        <div class="navbar">
            <img src="{{ url_for('static',filename='logo.png') }}" class="logo">
            <nav>
                <ul>
                    <li><a href="{{ url_for('root') }}">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">CONTACT US</a></li>
                    <h1>{{emotion}}</h1>
                </ul>
            </nav>
            <img src="{{ url_for('static',filename='menu.png') }}" class="menu-icon">
        </div>

        <div class="row">
          <div class="col">
              <h2>You are {{emotion}} </h2>

              <div id="camera2">
                <button><a href="{{ url_for('root') }}">Back</a></button> 
                <button><a href="{{ url_for('capture') }}">Take a photo</a></button>
                <img src="{{ url_for('static', filename=path) }}" alt="capture" width="380" height="220">
                
              </div>
          </div>
        

          <div class="col">
            <div id="camera">
              <img src="{{ url_for('video_feed') }}" alt="video feed" width="680" height="380">
              
            </div>           
          </div>
        
        </div>
    </div>

  </body>
</html>