<html>
<head>
    <meta name = "viewport" content="width=device-width,initial-scale=1.0">
    <title>Data Project 4</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="{{ url_for('static',filename='edem.png') }}" class="logo">
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">CONTACT US</a></li>
                </ul>
            </nav>
            <img src="{{ url_for('static',filename='menu.png') }}" class="menu-icon">
        </div>
        <center>
        <div class="row">
            <div class="col">
                <h1>START</h1>
                <p>Start sentiment analysis capture </p>
                <button><a href="{{ url_for('capture') }}">CAMERA</a></button>
            </div>
            <div class="col">
                <h1>RESULTS</h1>
                <p>Sentiment analysis results</p>
                <button><a href="{{ url_for('dashboard') }}">DASHBOARD</a></button>
            </div>
        </div>
        <center>

    </div>
</body>
</html>